In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("auto93.csv")

In [4]:
df.describe()

,Clndrs,Volume,Model,origin,Lbs-,Acc+,Mpg+
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,5.454774,193.425879,76.010050,1.572864,2970.424623,15.568090,23.844221
std,1.701004,104.269838,3.697627,0.802055,846.841774,2.757689,8.340720
min,3.000000,68.000000,70.000000,1.000000,1613.000000,8.000000,10.000000
25%,4.000000,104.250000,73.000000,1.000000,2223.750000,13.825000,20.000000
50%,4.000000,148.500000,76.000000,1.000000,2803.500000,15.500000,20.000000
75%,8.000000,262.000000,79.000000,2.000000,3608.000000,17.175000,30.000000
max,8.000000,455.000000,82.000000,3.000000,5140.000000,24.800000,50.000000